<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bt/css/bootstrap.min.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark"
>      <a class="navbar-brand" href="#"><img id="slika2" src="/images/logob.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plan">PLAN</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="/utisak">O PROGRAMU</a>
          </li>
          
          
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ODJAVA</button>
        </form>
      </div>
    </nav>
    
  <!-- SLIDE BAR -->
  <div style="background-image:url(/images/slika1.jpg);" class="bg-image row no-gutters align-items-center justify-content-center">
    <h1 class="text-light text-center">Dobrodošli na sajt Fitness Profe!</h1>
  </div> 
  
  
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">&copy; 2020 Djordje Zejak</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
        </li>
  </nav>
  </body>
</html>