
<form action="/trening" method="POST">
    <textarea name="text" id="" cols="30" rows="10"></textarea>
    <button type="submit">TRENING</button>    
</form>
<form action="/ishrana" method="POST">
    <textarea name="text" id="" cols="30" rows="10"></textarea>
    <button type="submit">ISHRANA</button>
</form>