<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bt/css/bootstrap.min.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -4%;margin-left: -4%;margin-right: -4%;">
      <a class="navbar-brand" href="#"><img id="slika2" src="/images/logob.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/plan">PLAN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/kontakt">KONTAKT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/utisak">O PROGRAMU</a>
          </li>
          
          
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/login">
          
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ODJAVA</button>
        </form>
      </div>
    </nav>
    <p><h2>Pošaljite nam vaše utiske:  </h2></p>

    <div>
    <form class="forma" style="margin-top: 5%;">
      <div class="form-group">
        <label for="exampleFormControlInput1">Email adresa: </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Naslov poruke: </label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Poruka">
      </div>
      
      
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Opis:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">POSALJI PORUKU</button>
    </form>
    </div>
  
     
    
    
  </body>

</html>