<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bt/css/bootstrap.min.css' />
  </head>
  <body class="pozadina">
    <div class="login">
      <div class="login-triangle"></div>
      
      <h2 class="login-header">Fitness PROFA</h2>
    
      <form class="login-container" action="/reg" method="POST">
        <p><input name="email" type="email" placeholder="Email"></p>
        <p><input name="password" type="password" placeholder="Password"></p>
        <p><input type="submit" value="REGISTRUJ SE"></p>
        
      </form>
       
      
    </div>
  </body>
</html>
