<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/bt/css/bootstrap.min.css' />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
      <a class="navbar-brand" href="#"><img id="slika2" src="/images/logob.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plan">PLAN</a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href="/utisak">O PROGRAMU</a>
          </li>
          
          
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/logout">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">ODJAVA</button>
        </form>
      </div>
    </nav>
    <div class="card-deck">
        <div class="card">
          <img src="/images/deda1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Zoran (62)</h5>
            <p class="card-text">Od kad koristim plan ishrane fitness Profe, moj zivot je stvarno laksi i imam redovnu probavu.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">zoranzoki@gmail.com</small>
          </div>
        </div>
        <div class="card">
          <img src="/images/zena1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jelisaveta (33)</h5>
            <p class="card-text">Posle porodjaja sam se jako brzo vratila na trening. Sve mi ovo jako prija!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">jelycarica22@yahoo.com</small>
          </div>
        </div>
        <div class="card">
          <img src="/images/decak.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Jovanča (22)</h5>
            <p class="card-text">Svi su mi pričali da je teretana štetna. Profa me je razuverio!</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">lordmaster09@rocketmail.com</small>
          </div>
        </div>
      </div>
      
      </body>
    </html>